<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Job</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card mt-5 shadow">

                <div class="card-body">

                    <h2>Create Job Post</h2>

                    <form th:action="@{/job-create}" method="post">

                        <div class="mb-3">
                            <input class="form-control"
                                   name="title"
                                   placeholder="Title">
                        </div>

                        <div class="mb-3">
                            <select class="form-select" name="jobType">
                                <option value="FULL_TIME">Full Time</option>
                                <option value="PART_TIME">Part Time</option>
                                <option value="INTERNSHIP">Internship</option>
                                <option value="FREELANCE">Freelance</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control"
                                      name="description"
                                      rows="5"
                                      placeholder="Description"></textarea>
                        </div>

                        <div class="mb-3">
                            <input class="form-control"
                                   name="salary"
                                   placeholder="Salary">
                        </div>

                        <button class="btn btn-primary">
                            Create Job
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>